<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated jgrapht -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="jgrapht.presentation.JgraphtModelWizardID"
            name="%_UI_JgraphtModelWizard_label"
            class="jgrapht.presentation.JgraphtModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/JgraphtModelFile.gif">
         <description>%_UI_JgraphtModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated jgrapht -->
      <editor
            id="jgrapht.presentation.JgraphtEditorID"
            name="%_UI_JgraphtEditor_label"
            icon="icons/full/obj16/JgraphtModelFile.gif"
            extensions="jgrapht"
            class="jgrapht.presentation.JgraphtEditor"
            contributorClass="jgrapht.presentation.JgraphtActionBarContributor">
      </editor>
   </extension>

</plugin>
