<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Action -->
      <package
            uri="Action"
            class="Action.ActionPackage"
            genModel="src/Action.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Action -->
      <package
            uri="Action-PrimitiveTypes"
            class="PrimitiveTypes.PrimitiveTypesPackage"
            genModel="src/Action.genmodel"/>
   </extension>

</plugin>
